//- list.jade
extends ./layout

block title
    title List of notes

block content
    h1 Notes
    p Here is a list of all notes
    ul#Notes
        li
            a(href="notes.jade") Note 1
        li
            a(href="notes.jade") Note 2
        li
            a(href="notes.jade") Note 3
        li
            a(href="notes.jade") Note 4
        li
            a(href="notes.jade") Note 5
        li
            a(href="notes.jade") Note 6
        li
            a(href="notes.jade") Note 7
        li
            a(href="notes.jade") Note 8
        li
            a(href="notes.jade") Note 9
        li
            a(href="notes.jade") Note 10
