//- list.pug
extends layout
block listcontent
    h1="List of Notes"
    ul
        li "Note 1"

        li "Note 2"

        li "Note 3"

        li "Note 4"

        li "Note 5"

        li "Note 6"

        li "Note 7"

        li "Note 8"

        li "Note 9"

        li "Note 10"
    a.btn.btn-primary.btn-lg(href="/views/notes.pug" role="button") Learn more »
