//- list.jade
extends layout.pug

block title
    title List of notes

block content
    h1 Notes
    p Here is a list of all notes
    ul#Notes
        li
            a(href="notes.pug") Note 1
        li
            a(href="notes.pug") Note 2
        li
            a(href="notes.pug") Note 3
        li
            a(href="notes.pug") Note 4
        li
            a(href="notes.pug") Note 5
        li
            a(href="notes.pug") Note 6
        li
            a(href="notes.pug") Note 7
        li
            a(href="notes.pug") Note 8
        li
            a(href="notes.pug") Note 9
        li
            a(href="notes.pug") Note 10
